*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    min-height: 70px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header__form1 a{
    color: #777;
    text-decoration: none;
}
.header__form2 {
    color: #777;
}
.header__form3 {
    color: #777;
    display: flex;
}

.header__form1-login:hover{
    color: #fff;
}
.header__form1-register:hover{
    color: #fff;
}
.header__form2 i{
    margin-right: 10px;
}
.header__form2 i:hover{
    color: #fff;
}
.header__form3-english i{
   margin-right: 29px;
}
.header__form3-usd {
    margin-left: 29px;
}

.header__form3-english:hover,
.header__form3-usd:hover{
    color: #fff;

}
.header__form3-moreLanguage{
    box-shadow: 0px 0px 1px 2px rgb(30 30 30 / 10%);
    width: 110px;
    height: 87px;
    background-color: #fff;
    border-radius: 3px;
    padding: 15px 10px;
    position: absolute;
    margin-top: 3px;
    display: none;
}
.header__form3-moreLaguage-text1{
    color: #FFAA00;
    margin-bottom: 10px;
}
.header__form3-moreLaguage-text1 img{
    width: 21%;
    height: auto;
    margin-right: 10px;
}
.header__form3-moreLaguage-text2 img{
    width: 21%;
    height: auto;
    margin-right: 10px;
}
.header__form3-moreLaguage-text2{
    color: #000;
}
.header__form3-moreLaguage-text2:hover{
    color: #FFAA00;
}
.header__form3-english:hover .header__form3-moreLanguage{
    display: block;
    
}
.header__form3-money{
    position: relative;
}
.header__form3-moreMoney{
    box-shadow: 0px 0px 1px 2px rgb(30 30 30 / 10%);
    width: 70px;
    height: 76px;
    background-color: #fff;
    border-radius: 3px;
    padding: 15px 10px;
    position: absolute;
    margin-top: 3px;
   margin-left: -20px;
   display: none;
}
.header__form3-moreMoney-text1{
    color: #FFAA00;
}
.header__form3-moreMoney-text2{
    color: #000;
}
.header__form3-moreMoney-text2:hover{
    color: #FFAA00;
}
.header__form3-usd:hover .header__form3-moreMoney{
    display: block;
}

/* FOMR HEADER 2 */
.header2{
    display: flex;
    height: 100px;
    width: 100%;
    background-color: #ffffff;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.header2__menu{
    display: flex;
}
.header2__menu a{
    text-decoration: none;
    color: #000;
    font-weight: 700;
    padding: 8px 15px;
}
.header2__icon{
    display: flex;
    align-items: center;
}
.header2__icon i{
    margin-right: 20px;
}
.header2__icon-backgoundCart{
    background-color: #FFAA00;
    width: 95px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header2__icon-backgoundCart i{
    font-size: 40px;
    color: #fff; 
    margin-left: 15px;
}
.header2__menu a:hover{
    color: #fff;
    background-color: #FFAA00;
    padding: 8px 15px;
    border-radius: 3px;
   
}
.fa-magnifying-glass:hover{
    color: #FFAA00;
}
.fa-user:hover{
    color: #FFAA00;
}

/* HOME */
.header2__menu-HOME{
    position: relative;
}
.header2__menu-moreHOME{
    position: absolute;
    width: 800px;
    height: 240px;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0px 0px 5px #999;
    border-radius: 5px;
    display: none;
    
}
.header2__menu-moreHOME-listItem{
    display: flex;
    justify-content: space-around;
    
}
.header2__menu-moreHOME li{
   list-style: none;
}
.header2__menu-moreHOME-list li:nth-child(1){
    font-weight: 600;
}
.header2__menu-moreHOME-list li{
    margin-bottom: 15px;
}
.header2__menu-moreHOME-list li:hover{
    color: #FFAA00;
}
.header2__menu-HOME:hover .header2__menu-moreHOME{
    display: block;
}

/* SHOP */
.header2__menu-SHOP{
    position: relative;
}
.header2__menu-moreSHOP{
    position: absolute;
    width: 800px;
    height: 270px;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0px 0px 5px #999;
    border-radius: 5px;
    display: none;
    margin-top: 10px;
}
.header2__menu-moreSHOP-listItem{
    display: flex;
    justify-content: space-around;
    
}
.header2__menu-moreSHOP li{
   list-style: none;
}
.header2__menu-moreSHOP-list li:nth-child(1){
    font-weight: 600;
}
.header2__menu-moreSHOP-list li{
    margin-bottom: 15px;
}
.header2__menu-moreSHOP-list li:hover{
    color: #FFAA00;
}
.header2__menu-SHOP:hover .header2__menu-moreSHOP{
    display: block;
}

/* PROMOTION */
.header2__menu-PROMOTION{
    /* position: relative; */
}
.header2__menu-morePROMOTION{
    position: absolute;
    width: 1500px;
    height: 350px;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0px 0px 5px #999;
    border-radius: 5px;
    /* display: none; */
    margin-top: 30px;
    position: absolute;
   left: 90px;
  
}
.header2__menu-morePROMOTION-listItem{
    display: flex;
    justify-content: space-around;
    
}
.header2__menu-morePROMOTION li{
   list-style: none;
}
.header2__menu-morePROMOTION-list li:nth-child(1){
    font-weight: 600;
}
.header2__menu-morePROMOTION-list li{
    margin-bottom: 15px;
}
.header2__menu-morePROMOTION-list li:hover{
    color: #FFAA00;
}
.header2__menu-PROMOTION:hover .header2__menu-morePROMOTION{
    display: block;
}
.header2__menu-morePROMOTION-img{
    width: 0%;
    height: auto;
}