.center1{
    margin-top: 30px;
    background-color: #EEEEEE;
}
.center1_one{
    display: flex;
    margin-left: 220px;
      margin-right: 220px;
    justify-content: center; 
}
button{
    background-color:#fff;
    width: 120px;
    height: 40px;
    border: 1px solid #fff;
    margin-left: 10px;
    margin-right: 10px;
    opacity: 1;
}
button:hover{
    opacity: 1;
    background-color: red;
}
center_two{
    margin-left: 180px;
    margin-top: 20px;
    
}
.center1_two{
    position: relative;
}
.center2_two{
    position: relative;
}
.center3_two{
    position: relative;
    margin-left: -1220px;
    margin-top: 300px;   
}
.center4_two{
    position: relative;
    margin-top: 300px;  
}
.center5_two{
    position: relative;
    margin-left: -1220px;
    margin-top: 600px
}
.center6_two{
    position: relative;
    margin-top: 600px
}
.ad{

    width: 570px;
    margin: 20px;
    height: 265px;
    opacity: 1;
}
/* .ad:hover{
  opacity: 0.5;
  background-image: url(/img/lum2.jpg);
} */
.two-1{
    position:absolute;
   width: 570px;
   height: 265px;
   top: 20px;
   left: 20px;
    
}
.two-1_icon{
    display: flex;
    justify-content: space-between;
  
}
.content{
    text-align: center; 
    margin-top: 15%;
    font-size: 20px;color: white;
    opacity: 0; 
}
.icon{
    margin-top: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    margin-left: 150px;
   border: 2px solid #fff;
   border-radius: 40px;
   transition: all 2s ease;
   opacity: 0;
  
}
.icon_2{
    margin-top: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    margin-right: 150px;
   border: 2px solid #fff;
   border-radius: 40px;
   transition: all 2s ease;
   opacity: 0;

}
.two-1:hover{
    opacity: 0.5;
    background-color:#4E5053;
}
.two-1:hover .content{
   left: 30px;
   opacity: 1;
}
  .two-1:hover .icon{
     transform: translate3d(90px,0,0);

    opacity: 1;
}
 .two-1:hover .icon_2{
    transform: translate3d(-90px,0,0); 
    opacity: 1;
}



/* .two-1:hover .icon,
.two-1:hover .icon_2{
    background-color: violet;
} */

